  body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    height: 100%;
  }

html {
  height: 100%;
}

main{
    background-size: cover;
    width: 100%;
    height: 100%;
}

.textos{
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    /* display: flex; */
    background-color: whitesmoke;

}
.container{
    width: 100%;
    height: 270px;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #a8bf90;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.351);
}
h1{
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
    font-weight: lighter;
}
h2{
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

.texto1{
    font-family: 'Source Sans Pro';
    font-size: 1rem;
    text-align: left;
    color: whitesmoke;
    font-weight: lighter;
    height: 1500x;
    width: 100%;
}

.container2{
    width: 100%;
    height: 620px;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #a8bf90;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.351);
}
h3{
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

.texto2{
    font-family: 'Source Sans Pro';
    font-size: 1rem;
    text-align: left;
    color: whitesmoke;
    font-weight: lighter;
}



.terceiro{
    background-color: #a8bf90;
    width: 100rem; 
}